{% load static %}

{% block navBar %}
    <div>
        <div class="ui stackable massive inverted top attached menu" id="navbar">
           <!--  <a class="item" id="sidebartrigger">
                <i class="sidebar icon"></i>
            </a> -->

            <a class="item"></a>
            <a class="item"style="font-size:25px;" >
                <span>
                    Emoción
                </span>
            </a>

           <!--  <div class="right menu">
                <a class="right item">
                    <i class="ui call square icon"></i>
                    Contact Us
                </a>

                 <a class="right item">
                    <i class="ui user icon"></i>
                    About Us
                </a>
            </div> -->
        </div>

        <div class="ui divider"></div>
    </div>
{% endblock %}